<app-employee-data-modal [title]="title" [service]="addQualificationService">

  <form style="height: 120px; overflow-y: scroll">
    <div class="form-check" *ngFor="let qualification of qualifications | async">
      <input
        class="form-check-input"
        type="checkbox"
        id="qualification{{qualification.id}}"
        name="qualification{{qualification.skill}}"
        (click)="getQualification(qualification.id)">
      <label class="form-check-label">
        {{ qualification.skill }}
      </label>
    </div>
  </form>

  <div class="modal-footer w-100">
    <div>
      <button type="button" class="btn btn-primary" style="text-align: start" (click)="createQualification()" >Qualifikation erstellen</button>
    </div>
    <button type="button" class="btn btn-success" (click)="onSaveChanges()">Speichern</button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Abbrechen</button>
  </div>
</app-employee-data-modal>

