
<app-employee-data-modal [title]="title" [service]="addQualificationService">

    <div style="border-radius: 20px;" class="d-flex justify-content-center w-100">
        <input
            #inputRef
            type="text"
            class="form-control custom-input border-0 mb-3"
            placeholder="Nach Qualifikationen suchen"
            style="background-color: #f8f3ff; border-radius: 20px 20px  ; width: 80% !important;"
            (keyup)="onSearchQualification(inputRef.value)"
        />
    </div>

  <form style="height: 230px; overflow-y: scroll">
    <div class="form-check mx-2" *ngFor="let qualification of filteredQualifications | async">
      <input
        class="form-check-input"
        type="checkbox"
        id="qualification{{qualification.id}}"
        name="qualification{{qualification.skill}}"
        [checked]="selectedQualifications.includes(qualification.id!)"
        [disabled]="isDisabled(qualification.id!)"
        (change)="getQualification(qualification.id, $event)">
      <label class="form-check-label">
        {{ qualification.skill }}
      </label>
    </div>
  </form>

  <div class="modal-footer w-100">
    <div>
      <button type="button" class="btn btn-primary" style="text-align: start" (click)="createQualification()" >Qualifikation erstellen</button>
    </div>
    <button type="button" class="btn btn-success" (click)="onSaveChanges()">Speichern</button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Abbrechen</button>
  </div>
</app-employee-data-modal>

