<app-main-header></app-main-header>

<!--*** Start Search function*** -->
<div class="w-100 d-flex justify-content-center mt-4">
  <div style="max-width: 400px; background-color: #f8f3ff; border-radius: 20px;" class="d-flex justify-content-center">
    <input
      #inputRef
      type="text"
      class="form-control custom-input border-0"
      placeholder="Suchwert eingeben"
      style="background-color: #f8f3ff; border-radius: 20px 20px;"
      (keyup)="onSearchEmployee(inputRef.value)"
    />
  </div>
  <div class="filter-div d-flex justify-content-center align-items-center">
    <button class="filter-button">
      <i class="bi bi-funnel"></i>
    </button>
  </div>

</div>
<!--*** End Search function ***-->

<div class="col-10 mx-auto">
  <div style="margin-top: 50px">
    <!-- Start Employee Cards -->
    <div class="row">
      <div *ngFor="let employee of employees" class="col-md-4 mb-4">
        <div class="card p-3" style="background-color: #f8f3ff; border-radius: 20px; overflow: hidden; height: 320px">
          <h5 class="card-title lh-1">{{employee.firstName}} {{employee.lastName}}</h5>
          <p class="card-text lh-1">{{employee.street}}</p>
          <p class="card-text lh-1">{{employee.postcode}}, {{employee.city}}</p>
          <p class="card-text lh-1">{{employee.phone}}</p>
          <p class="card-text lh-1">
          <p class="card-text" style="height: 100px; overflow-y: scroll;">
            <span *ngFor="let qualification of employee.skillSet; let isLast=last">
              {{qualification.skill}}{{isLast ? '' : ', '}}
            </span>
          </p>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary me-2" (click)="onEditEmployee(employee.id)">
              <i class="bi bi-pen-fill"></i>
            </button>
            <button class="btn btn-danger" (click)="onDeleteEmployee(employee.id)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Employee Cards -->
  </div>
</div>
<!--Start Add Employee Button-->
<div class="add-employee-button">
  <button class="add-button shadow" (click)="onAddClick()">
    <i class="bi bi-plus-circle"></i>
  </button>
</div>
<!--End Add Employee Button-->

<ng-template #deleteEmployee>
  <div class="modal-body text-center">
    <p>Mitarbeiter wirklich löschen?</p>
    <button type="button" class="btn btn-danger me-3" (click)="confirmDelete()">Löschen</button>
    <button type="button" class="btn btn-secondary" (click)="modalRef.dismiss()">Abbrechen</button>
  </div>
</ng-template>

<app-create-employee></app-create-employee>
<app-edit-employee [employeeId]="currentEmployeeId"></app-edit-employee>


