<app-main-header></app-main-header>
<div class="col-10 mx-auto">
  <div style="margin-top: 50px">
    <div class="mt-3 mb-3 d-flex justify-content-between align-items-center">
      <h2>Mitarbeiter</h2>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <div>
          <label class="m-2" >Seiten: </label>
          <input
            type="text"
            class="w-25"
            [(ngModel)]="page"
            (input)="validatePageInput()"
          >
        </div>
        <small class="text-danger" *ngIf="!isValid">Bitte geben Sie gültigen Zahl ein!</small>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
          <th scope="col">Adresse</th>
          <th scope="col">Stadt</th>
          <th scope="col">PLZ</th>
          <th scope="col">Telephonnummer</th>
          <th scope="col">Qualifikation</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">2</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Angularstraße 12</td>
          <td>Berlin</td>
          <td>10115</td>
          <td>030-1234567</td>
          <td>Ingenieur</td>
          <td>
            <button (click)="onEditEmployee()"><i class="bi bi-pen-fill"></i></button>
          </td>
          <td>
            <button><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
            <tr>
              <th scope="row">3</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>Hauptstraße 5</td>
              <td>Hamburg</td>
              <td>20095</td>
              <td>040-9876543</td>
              <td>Softwareentwickler</td>
              <td>
                <button (click)="onEditEmployee()"><i class="bi bi-pen-fill"></i></button>
              </td>
              <td>
                <button><i class="bi bi-trash-fill"></i></button>
              </td>

            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Sophie</td>
              <td>Meier</td>
              <td>Ringstraße 8</td>
              <td>München</td>
              <td>80331</td>
              <td>089-7654321</td>
              <td>Architektin</td>
              <td>
                <button (click)="onEditEmployee()"><i class="bi bi-pen-fill"></i></button>
              </td>
              <td>
                <button><i class="bi bi-trash-fill"></i></button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<app-edit-employee></app-edit-employee>