<app-main-header></app-main-header>
<div class="col-10 mx-auto">
  <div style="margin-top: 50px">
    <div class="mt-3 mb-3 d-flex justify-content-between align-items-center">
      <h2>Mitarbeiter</h2>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <div>
          <label class="m-2">Seiten: </label>
          <input
            type="text"
            class="w-25"
            [(ngModel)]="page"
            (input)="validatePageInput()"
          >
        </div>
        <small class="text-danger" *ngIf="!isValid">Bitte geben Sie gültigen Zahl ein!</small>
      </div>
    </div>

    <!--<h2>Einzelnes To Do</h2>
    @if(this.employeeX | async; as employ){
      <div>
        <div>city: {{employ.city }}</div>
        <div>firstname: {{employ.firstName}}</div>
        <div>phone: {{employ.phone}}</div>
      </div>
    }-->

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
          <th scope="col">Adresse</th>
          <th scope="col">Stadt</th>
          <th scope="col">PLZ</th>
          <th scope="col">Telephonnummer</th>
          <th scope="col">Qualifikation</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          @for(employee of employees; track employee.id){
            <tr>
              <th>{{employee.id}}</th>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.street}}</td>
              <td>{{employee.city}}</td>
              <td>{{employee.postcode}}</td>
              <td>{{employee.phone}}</td>
              <td>qualis noch machen</td>
              <td>
                <button (click)="onEditEmployee(employee.id)"><i class="bi bi-pen-fill"></i></button>
              </td>
              <td>
                <button (click)="onDeleteEmployee(employee.id)"><i class="bi bi-trash-fill"></i></button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>


<app-edit-employee></app-edit-employee>
