.custom-input{
  transition: 0.1s ease-out;
}

.custom-input:focus {
  box-shadow: none;
}
.add-employee-button{
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: 0.3s ease-in-out;
}
.add-employee-button:hover{
  transform: scale(1.2);
}

.add-employee-button button{
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ef68e;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.add-employee-button button i {
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}
div div button i {
  transition: 0.1s linear;
  font-weight: bolder;
  font-size: 18px;
}
div div button:hover{
  color: #777;
}
.custom-select {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  padding: 5px;
}
.filter-div{
  margin-left: 20px;
}
.filter-button, .sort-button{
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #eee;
}
.filter-button i{
  font-size: 1.7rem !important;
  color: cadetblue;

}
.sort-button i {
  font-size: 1.7rem !important;
  color: cornflowerblue;
}
