
<app-employee-data-modal [title]="title" [service]="createEmployeeService">
  <form>
    <div class="row g-3">
      <div class="col-md-6">
        <label for="lastname" class="form-label">Vorname</label>
        <input id="lastname" type="text" class="form-control" placeholder="Vorname" name="lastname" [(ngModel)]="employee.lastName" required/>
      </div>

      <div class="col-md-6">
        <label for="surname" class="form-label">Nachname</label>
        <input id="surname" type="text" class="form-control" placeholder="Nachname" name="surname" [(ngModel)]="employee.firstName" required/>
      </div>

      <div class="col-md-6">
        <label for="phonenumber" class="form-label">Telefonnummer</label>
        <input id="phonenumber" type="text" class="form-control" placeholder="Telefonnummer" name="phonenumber" [(ngModel)]="employee.phone" required/>
      </div>

      <div class="col-md-6">
        <label for="street" class="form-label">Straße</label>
        <input id="street" type="text" class="form-control" placeholder="Straße" name="street" [(ngModel)]="employee.street" required/>
      </div>

      <div class="col-md-6">
        <label for="postcode" class="form-label">PLZ</label>
        <input id="postcode" type="text" class="form-control" placeholder="PLZ" name="postcode" [(ngModel)]="employee.postcode" required/>
      </div>

      <div class="col-md-6">
        <label for="city" class="form-label">Stadt</label>
        <input id="city" type="text" class="form-control" placeholder="Stadt" name="city" [(ngModel)]="employee.city" required/>
      </div>

      <div style="overflow-y: scroll; height: 120px;">
        <div class="d-flex justify-content-between align-items-center border p-3 mb-2" style="height: 50px">
          <h5 class="mb-0" style="font-size: 18px">Qualifikation </h5>
        </div>
      </div>
    </div>
  </form>


  <div class="modal-footer w-100">
        <div>
            <button type="button" class="btn btn-primary" style="text-align: start" (click)="onCreateQualificationClick()" >Qualifikation hinzufügen</button>
        </div>
        <button type="button" class="btn btn-success" (click)="onSaveChanges()">Speichern</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Abbrechen</button>
  </div>
</app-employee-data-modal>

<app-qualification-modal (savedQualifications)="savedQualification"></app-qualification-modal>
<app-craete-qualification></app-craete-qualification>
