
img {
  background-color: #f45123;
  padding: 10px;
}
.login-container{
  background-color: #ececec;
  margin-top: 100px;
  padding: 20px;
  height: 500px;
  border-radius: 20px;
}
.forgetPassword {
  cursor: pointer;
  border: none;
  outline: none;
  background: red;
}
body{
  background: #444 !important;
}
