<app-main-header></app-main-header>


<div class="w-100 d-flex justify-content-center mt-5">
  <div style="max-width: 400px; background-color: #f8f3ff; border-radius: 20px;" class="d-flex justify-content-center">
    <input
      #inputRef
      type="text"
      class="form-control custom-input border-0"
      placeholder="Nach qualifikationen suchen"
      style="background-color: #f8f3ff; border-radius: 20px 20px; width: 450px"
      (keyup)="onSearchQualification(inputRef.value)"
    />
  </div>
</div>

<div class="qualification-pagination mt-5">
    <mat-paginator
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15,20]"
            (page)="onPageChange($event)"
            showFirstLastButtons="true"
    ></mat-paginator>
</div>

<div class="container mt-4">
  <div style="background: #eee" *ngFor="let qualification of pagedQualifications; " class="d-flex justify-content-between align-items-center border p-2 mb-2">
    <span>{{ qualification.skill }}</span>
    <div>
      <button (click)="editQualification(qualification.id)" class="btn btn-outline-secondary btn-sm mx-2">
        <i class="bi bi-pen-fill"></i>
      </button>
      <button (click)="deleteQualification(qualification.id)" class="btn btn-outline-danger btn-sm mx-2">
        <i class="bi bi-trash3-fill"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #deleteQualificationModal>
    <div class="modal-body text-center">
        <p>Qualifikation wirklich löschen?</p>
        <button type="button" class="btn btn-danger me-3" (click)="confirmDelete()">Löschen</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.dismiss()">Abbrechen</button>
    </div>
</ng-template>

<app-employee-data-modal [title]=title [service]="editQualificationService">
    <form>
        <div class="row g-3">
            <div class="col-md-12">
                <label for="qualification" class="form-label">Qualifikation</label>
                <input
                        id="qualification"
                        class="form-control"
                        name="qualification"
                        [(ngModel)]="qualification"
                        required
                />
            </div>
        </div>
    </form>

    <div class="modal-footer w-100">
        <button type="button" class="btn btn-success" (click)="onSaveChanges()">Speichern</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Abbrechen</button>
    </div>
</app-employee-data-modal>

<!--Start Add Employee Button-->
<div class="add-employee-button">
    <button class="add-button shadow" (click)="addQualification()">
        <i class="bi bi-plus-circle"></i>
    </button>
</div>
<!--End Add Employee Button-->

<!--Start back to employee table-->
<div class="back-to-employee-button">
    <button class="back-to-button shadow" (click)="onBackClick()">
        <i class="bi bi-box-arrow-left"></i>
    </button>
</div>
<!--end back to employee table-->

<app-craete-qualification></app-craete-qualification>

<app-employee-data-modal [title]=createQualiTitle [service]="createQualificationService">
    <form>
        <div class="row g-3">
            <div class="col-md-12">
                <label for="qualification" class="form-label">Qualifikation</label>
                <input
                        id="createQualification"
                        class="form-control"
                        name="createQualification"
                        [(ngModel)]="qualification"
                        required
                />
            </div>
        </div>
    </form>

    <div class="modal-footer w-100">
        <button type="button" class="btn btn-success" (click)="onSaveCreateQualChanges()">Speichern</button>
        <button type="button" class="btn btn-secondary" (click)="closeCreateQualModal()">Abbrechen</button>
    </div>
</app-employee-data-modal>


<ng-template #qualificationDeleteError>
    <div class="modal fade show d-block" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Fehler</h5>
                </div>
                <div class="modal-body">
                    Die Qualifikation kann nicht gelöscht werden, weil andere Mitarbeiter die Qualifikation verwenden.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeQualificationDeleteErrorModal()">Schließen</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
