
img {
  background-color: #f45123;
  padding: 10px;
}
.login-container{
  background-color: #ececec;
  padding: 20px;
  height: 100vh;
  border-radius: 20px;
}

body{
  background: #444 !important;
}
